* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
  width: 1200px;
  margin: auto auto;
}

.header {
  float: left;
  width: 1200px;
  padding: 30px;
  margin-bottom: 20px;
  background-color: #b75a48;
  text-align: center;
}

#x {
  float: left;
  width: 200px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  background-color: #e8ecd6;
}

.header-appeal {
  float: right;
  width: 600px;
}

.about-city {
  float: left;
  width: 300px;
  padding: 140px 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #b2c6b6;
}

.site-nav {
  float: left;
  width: 880px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #e8ecd6;
}

.site-nav a:link {
  margin-right: 10px;
  color: #000;
  text-decoration: none;
}

.site-nav a:visited {
  color: #000;
}

.site-nav a:hover {
  color: #b75a48;
}

.site-nav a:last-child {
  margin-right: 0;
}

.image-panel {
  float: left;
  width: 560px;
  margin-right: 20px;
  padding: 20px 0;
}

.main-image {
  width: 100%;
  height: auto;
}

.top-sights {
  float: left;
  width: 300px;
  padding: 140px 40px;
  text-align: center;
  background-color: #b2c6b6;
}

.footer {
  float: left;
  width: 1200px;
  padding: 30px;
  background-color: #b75a48;
  text-align: center;
}

#y {
  float: right;
  width: 200px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  background-color: #e8ecd6;
}

.footer-appeal {
  float: left;
  width: 600px;
}
