/* 
MAIN COLOR - #364fc7
GREY COLOR - #343a40
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #343a40;
}

.container {
  width: 980px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 48px;
  margin-bottom: 128px;
}

img {
  border-radius: 12px;
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
}

.header-text {
  align-self: center;
}

.site-headline {
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 24px;
}

.site-desc {
  font-size: 18px;
  line-height: 1.5;
  color: #495057;
}

.homeworks-headline {
  font-size: 36px;
  margin-bottom: 48px;
}

.homework-figures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  margin-bottom: 128px;
}

.hw-figure {
  padding: 32px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.hw-name {
  font-size: 30px;
  margin-bottom: 24px;
}

.hw-desc {
  font-size: 20px;
  margin-bottom: 48px;
  color: #495057;
}

.hw-button:link,
.hw-button:visited {
  display: inline-block;
  background-color: #364fc7;
  color: #fff;
  padding: 14px 32px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 100px;
  transition: background-color 0.15s ease-in-out;
}

.hw-button:hover {
  background-color: #3b5bdb;
}

footer {
  color: #868e96;
  font-size: 14px;
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  header {
    grid-template-columns: 1fr;
    row-gap: 48px;
  }

  .header-text {
    padding: 0 24px;
  }

  img {
    width: 90%;
    justify-self: center;
  }

  .homeworks-headline {
    font-size: 36px;
    margin-bottom: 48px;
    text-align: center;
  }

  .homework-figures {
    grid-template-columns: 1fr;
  }

  .hw-figure {
    margin: 0 24px;
  }

  footer {
    padding: 0 24px;
  }
}
