
body {
    padding: 0;
    margin: 0;
    font-family: "Gill Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #b75a48;
}

header p, footer p {
    margin: 20px;
    width: 60%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#leftpanel {
    width: 20%;
    text-align: center;
    background-color: #b2c6b6;
}

#leftpanel p {
    margin: 10px;
    margin-top: 20px;
}

.center {
    display: flex;
    flex-direction: column;
}

#longpanel {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #e8ecd6;
}

.core {
    display: flex;
    min-height: 100vh;
}

#rightpanel {
    width: 15vw;;
    background-color: #b2c6b6;
}

#rightpanel p {
    margin-left: 10px; 
}

#photopanel {
    width: 70vw;
    align-content: center;
}

h1 {
    background-color: #e8ecd6;
    margin: 20px;
}

a {
    margin-left: 10px;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #b75a48;
}

img {
    max-width: 100%;
    max-height: 100%;
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #b75a48;
}
