/* 
MAIN COLOR - #364fc7
GREY COLOR - #343a40
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

header {
  margin-bottom: 140px;
}

.site-nav {
  margin-top: 32px;
  margin-bottom: 64px;
  text-align: center;
}

.site-nav a:link,
.site-nav a:visited {
  display: inline-block;
  font-size: 24px;
  margin-right: 8px;
  color: #364fc7;
  text-decoration: none;
}

.site-nav a:hover {
  color: #4263eb;
}

.site-nav a:last-child {
  margin-right: 0;
}

.header-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 96px;
}

.header-textbox {
  align-content: center;
}

.header-headline {
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 24px;
}

.header-text {
  font-size: 18px;
  line-height: 1.5;
  color: #495057;
}

img {
  border-radius: 12px;
  width: 100%;
}
